@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
main > section {
  margin-top: 130px;
}
/* reuseable styling */
.display_flex {
  display: flex;
}
.btn_primary {
  background: #ff900e;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 20px 25px;
  border: none;
  border-radius: 7px;
  color: white;
}

.text_gray {
  color: #424242;
}
.text_gray_light {
  color: #727272;
}
.bg_light {
  background: rgba(255, 144, 14, 0.1);
}
/* header styling */

/* navbar styling */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}
.nav_item {
  list-style: none;
  margin-right: 30px;
}
.nav_link {
  text-decoration: none;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner styling */
.banner_content {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.banner_title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner_description {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}
.banner_img {
  width: 100%;
}
/* teams section styling */
.teams {
  align-items: center;
  gap: 73px;
}
.teams_image_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams_info {
  max-width: 537px;
}
.teams_info_title {
  font-size: 45px;
  font-weight: 700;
}
#Quick_list {
  font-weight: 500;
}
#Features {
  color: #ff900e;
}
.teams_info_des {
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0 32px 0;
}

/* responsive media queries */
@media screen and (max-width: 578px) {
  html {
    font-size: 10px;
  }
  .navbar {
    flex-direction: column;
  }
}
