@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* reuseable styling */
.display_flex {
  display: flex;
}

.text_gray {
  color: #424242;
}
.text_gray_light {
  color: #727272;
}
.bg_light {
  background: rgba(255, 144, 14, 0.1);
}
/* header styling */

/* navbar styling */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav_item {
  list-style: none;
  margin-right: 30px;
}
.nav_link {
  text-decoration: none;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
