@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
main > section {
  margin-top: 130px;
}
/* reuseable styling */
.display_flex {
  display: flex;
}
.btn_primary {
  background: #ff900e;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 20px 25px;
  border: none;
  border-radius: 7px;
  color: white;
}

.section_title {
  font-size: 3rem;
  font-weight: 700;
}
.text_gray {
  color: #424242;
}
.text_gray_light {
  color: #727272;
}
.bg_light {
  background: rgba(255, 144, 14, 0.1);
}
/* header styling */

/* navbar styling */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}
.nav_item {
  list-style: none;
  margin-right: 30px;
}
.nav_link {
  text-decoration: none;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner styling */
.banner_content {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.banner_title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner_description {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}
.banner_img {
  width: 100%;
}
/* teams section styling */
.teams {
  align-items: center;
  gap: 73px;
}
.teams_image_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams_info {
  max-width: 537px;
}
#Quick_list {
  font-weight: 500;
}
#Features {
  color: #ff900e;
}
.teams_info_des {
  font-size: 1rem;
  font-weight: 400;
  margin: 24px 0 32px 0;
}
/* features section styling */
.Features{
  display: flex;
  gap: 140px;
}
.Features > div{
  flex: 1;
}
.features_img img{
 width: 100%;
}
.features_info h3{
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features_cards{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.09);
  margin-bottom: 20px;
}
.features_cards h5{
  font-size: 1.25rem;
  font-weight: 500;
  color: #131313;
  margin: 5px 0;
}


/* some facts section */
.facts_description {
  max-width: 542px;
}
.fact_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}
.fact_number {
  font-size: 3rem;
  font-weight: 600;
  color: #424242;
  margin: 10px 0 5px 0;
}
.fact_name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
  margin: 5px;
}
/* our sponsors styling */

.sponsors_info {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}
.sponsor_img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor_img img {
  filter: grayscale(100%);
}
/* responsive media queries for mobile */
@media screen and (max-width: 578px) {
  html {
    font-size: 10px;
  }
  .navbar,
  .teams {
    flex-direction: column;
  }
  .teams_image_container,
  .fact_container,
  .sponsor_img {
    grid-template-columns: repeat(1, 1fr);
  }
  .fact_container {
    justify-items: center;
    gap: 24px;
    margin-top: 100px;
  }
  .sponsor_img {
    justify-items: center;
    gap: 40px;
  }
}

/*responsive media queries for tab  */

@media screen and (min-width: 578px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .sponsor_img,
  .fact_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor_img,
  .fact_container {
    justify-items: center;
    gap: 80px;
  }
  .facts_description {
    margin: 0px auto;
  }
  .facts_info {
    text-align: center;
  }
}
